
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color:#060606;
color:white;
font-family: 'Open Sans', sans-serif;
}



@font-face {
    font-family: 'Impact';
    src: url('fonts/impact.ttf');
    format:('truetype');

}

h3{
    font-family: 'Impact';
     font-size: 2em;
}

 .tittle {
    padding:5%;
    border: 1px solid white;
    text-decoration: underline;
    text-decoration-color: white;
}
 .tittle:hover {
    border: 1px solid black;
    text-decoration: underline;
    text-decoration-color: black;
    color:black;
    background-color: white;
}

 .descrip {
    height: 133px;
     font-family: 'Impact';
     font-size: 3.5em;

}


.loginform{
border:1px solid white;
margin-top:9%;

}

.bordeguay{
border:1px solid white;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display:block;
    box-sizing: border-box;
}


button:hover {
    opacity: 0.8;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}
label{
    display:block;
}

div.container{
    width: 90%;
}
.container {
    padding: 16px;
}
.container input{
    color:black;
}

span.psw {
    padding: 10px;
    background-color: white;
    color: black;
}



