
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color:#060606;
color:white;
font-family: 'Open Sans', sans-serif;
}

.cursorPointer{
	cursor:pointer;
}

@font-face {
	font-family: 'Impact';
	src: url('/styles/fonts/impact.ttf');
	format:('truetype');

}

h3{
	font-family: 'Impact';
	 font-size: 25px;
}

h2{
	font-family: 'Impact';
	 font-size: 40px;


	}

.botoncin{
	width:30%;
	color:black;
	padding:1%;
	background-color: white;
	border-style: none;
 	font-size: 15px;
	outline: 1px solid white;
    outline-offset: 5px;
    margin-top:3%;
    margin-bottom: 3%;
    margin-right: 15%;
    transition-duration: 0.5s;
    display:inline;
}



.botoncin:hover{
	width:30%;
	color:white;
	background-color: black !important;
	padding:1%;
	outline: 1px solid white;
    outline-offset: 5px;
    border:1px solid white;


}


.festis{
	display:flex;
	justify-content: space-between;
align-items:center;
padding-right: 5%;
padding-left: 5%;
}

.crimg,.soimg, .primg{
	display:block;
	filter: invert(0%);
	width:70%;
	outline: 0px;
transition-duration: 0.5s;
}


.crimg:hover{
	filter: invert(100%);
	outline: 1px solid black ;
    outline-offset: 10px;
}



.soimg:hover{
	filter: invert(100%);
	outline: 1px solid black;
    outline-offset: 10px;
}

.primg:hover{
	filter: invert(100%);
	outline: 1px solid black;
    outline-offset: 10px;
}
.choose{
	margin-top:100px;
	 font-family: 'Impact';
	 font-size: 20px;
	 padding-bottom:5%;

}

.voluntariados{
	 font-family: 'Impact';
	 font-size: 40px;
	 margin-bottom:2%;
	 margin-top: 4%;
}



ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
}


div .descrip{
border:1px solid white;
height:134px;
}


/*Refers to everything less than or equal to the amount given.*/

@media only screen and (max-width : 1200px) {
div .descrip {
    height: 128px;
    line-height: 90%;
    font-size: 45px;
    padding-top: 4%;
}
.ahead{

	border:1px solid white;
}
}

@media only screen and (max-width : 979px) {

div .descrip {
	height: 143px;
	 font-size: 45px;
	 padding-top:8%;
}
.ahead{
	height: 143px;
	border:1px solid white;
}

}

@media only screen and (max-width : 767px) {
div .descrip {
	height: 133px;
	 font-size: 60px;
	 padding-top:2%;
}

 div .ahead{
	padding:3%;
	text-align:center;
}
form{
	margin-top: -50px;
}
.ahead{height:80px;}
}

@media only screen and (max-width : 480px) {

	div .descrip {
	 padding-top:3%;
	}

	.botoncin {
    margin-left: 35%;
    margin-bottom: 2%;
}

.pdescrip{
	word-wrap:break-word;
}

.ahead{
	border-right:none;
border-left:none;
height:80px;
}
}

@media only screen and (max-width : 320px) {
	div .descrip {
	height: 133px;
	font-size: 55px;
	 padding-top:5%;
	 border-right:none;
	 border-left:none;

	}
.tex1, .text2{
border-right:none;
border-left:none;}

	.text1, {
	display:none;
	}
	.ahead{
border-right:none;
border-left:none;
height:80px;
	}

	h2, .voluntariados{
	font-size: 30px;
	margin:7%
	}
	.festis{
	display:block;
	margin-left:25%;
	width:80%;
	}
	.festis img{
	margin-bottom: 15%;
	}
	.botoncin {
	 margin-left: 45%;
	 margin-bottom: 5%;
	}

	ul {
	  columns: 1;
	  -webkit-columns: 1;
	  -moz-columns: 1;
	}

.logcapsa{
    padding:10%;
}

}

