ul .navBar {
    list-style-type: none;
    padding:2%;
}

.navBar li {
    display: inline;
    float: right;
	margin-right: 25px;
    cursor:pointer;
 padding:2%;
}

.navBar li:hover{
border-bottom:1px solid white;
}




