
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color:#060606;
color:white;
font-family: 'Open Sans', sans-serif;
}



@font-face {
	font-family: 'Impact';
	src: url('./fonts/impact.ttf');
	format:('truetype');

}

h3 , ul{
	font-family: 'Impact';
	 font-size: 2em;
	 display:inline;

}

h2{
	font-family: 'Impact';
	 font-size: 1.5em;
}

div .tittle {
	padding:5%;
	border: 1px solid white;
	text-decoration: underline;
	text-decoration-color: white;
}
div .tittle:hover {
	border: 1px solid black;
	text-decoration: underline;
	text-decoration-color: black;
	color:black;
	background-color: white;
}
div .descrip {
	height: 133px;
	line-height: 90%;
	 font-family: 'Impact';
	 font-size:4.5vw ;
	 text-align:center;

}

.profile{
 -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}


.perfil img{
border-radius:50%;
border:3px solid white;
display:inline;
max-width:200px;
margin-top:10%;
}


.datosp{
margin-top:10%;
}

.datosnopersonales{
padding-top:5%;
margin:auto auto;

}


.ongalert{
color:#feffc0;
}

